{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/story8.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'story8.js' %}"></script>
    <title>Fadhil Buku</title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center mt-5">
            <h1>Search for books here!</h1>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <input type="text" id="search" placeholder="Books">
            </div>
            <div class="col-md-2 mb-5">
                <input type="submit" id="button" value="Search">
            </div>
        </div>
        <div class="row">
            <table id="results" class="col-md-9 text-center offset-md-1">
            </table>
        </div>
    </div>
</body>
</html>
