<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-  ui.css">
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js.js' %}"></script>
        <title>Profile</title>
    </head>
    <body id="body">
        <div class="container-fluid">
            <div class="col-md-12 text-center mt-5">
                <h2 id="halo">Fadhil Pradipta</h2>
            </div>
            <div class="col-md-12 text-center mt-5">
                <label class="switch">
                    <input type="checkbox" id="switch" onclick="a()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div id="accordion" class="col-md-6 offset-md-3 text-center mt-5">
                <h3>Aktivitas</h3>
                <div class="child">
                    <p>Piano is my lyfe</p>
                </div>
                <h3>Pengalaman Organisasi</h3>
                <div class="child">
                    <p>Ristek SIG Game Development</p>
                </div>
                <h3>Prestasi</h3>
                <div class="child">
                    <p>-</p>
                </div>
            </div>
        </div>
        
    </body>
</html>
