<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>My First Load Balancer</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center offset-md-3 mt-5">
                <h1>My First Load Balancer</h1>
                <p>
                    In this page, I'll tell you about my experience on setting up my load balancer using Nginx and how to set it up.
                </p>
                <h3>What is a Load Balancer?</h3>
                <p>
                    A load balancer acts as the “traffic cop” sitting in front of your servers and routing client requests across all servers capable of fulfilling those requests in a manner that maximizes speed and capacity utilization and ensures that no one server is overworked, which could degrade performance. 
                    If a single server goes down, the load balancer redirects traffic to the remaining online servers. When a new server is added to the server group, the load balancer automatically starts to send requests to it.
                </p>
                <h3>How to Setup a Load Balancer Using Nginx</h3>
                <h4 class="mt-3">Download Nginx <a href="http://nginx.org/en/download.html">here</a></h4>
                <p class="mt-5">The next step is to open nginx.conf and type the code below</p>
                <img src="{% static 'pic/1.png' %}">
                <p class="mt-5">next, go ahead and open the command line where you store nginx</p>
                <img src="{% static 'pic/2.png' %}">
                <p class="mt-5">Open two separate command line and start 2 servers at once using the port 8000 and 9000</p>
            </div>
            <div class="col-md-12 text-center">
                <img src="{% static 'pic/3.png' %}">
            </div>
            <div class="col-md-6 text-center offset-md-3">
                <p class="mt-5">Refresh the page a few times and you'll see that both port are recieving request</p>
            </div>
            <div class="col-md-12 text-center">
                <img src="{% static 'pic/4.png' %}">
            </div>
            <div class="col-md-6 text-center offset-md-3">
                <p class="mt-5">If you shutdown one of the serves, there will be no problem on accessing it since the load balancer will just redirect it to the available one</p>
            </div>
                
                
               
                
                
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</body>