<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
</head>
<body>
    <h2 class="halo">Halo, apa kabar?</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit" value="post">
    </form>

    {% if status_objects %}
        {% for status in status_objects %}
            <div class="status">
                <h3 class="text">
                    {{ status.status }}
                </h3>
                <p class="time">{{ status.time|date:'d M Y | H:i' }}</p>
            </div>
        {% endfor %}
    {% endif %}
    
</body>
</html>
